.DS_Store
.gradle
.gradle/*
.builds
.builds/*
.settings
.settings/*
.classpath
.project
target
target/*
.gradle
.gradle/*
build
build/*
.idea
.idea/*
generated-src
generated-src/*
.iml
.idea
.acignore
lib
lib/*
*/.iml
*.iml
*.ipr
*.iws
*.ids
